<a d-click="onModalCloseBtnClick" href="" aria-label="Close help modal" title="Close" class="js-modal__close-btn  modal__close-btn">
	<svg>
		<use xlink:href="#cross-icon"></use>
	</svg>
</a>

<h1>
	<div class="web-maker-with-tag">ZenUML - Web Sequence</div>
	<small style="font-size:14px;"> v2.0.0</small>
	<div class="flex">
		<div class="onboard-step">
			<img src="./animation/10s.gif" alt="Middleman logo">
		</div>
	</div>
	<p>
		Get more help from <a href="https://www.zenuml.com/help.html">ZenUML.com</a>
	</p>

</h1>

