
<div class="tac">
	<svg width="130px" height="50px" display="none">
		<use xlink:href="#logo" />
	</svg>
	<h1 style="margin-top:20px">Welcome to Web Sequence</h1>
</div>
<div class="flex" style="margin-top: 100px;">
	<div class="onboard-step">
		<div class="tac">
			<svg class="onboard-step__icon" viewBox="0 0 24 24">
				<use xlink:href="#settings-icon"></use>
			</svg>
		</div>
		<p>
			Configure and customize settings by clicking the gear icon (
			<svg style="width:18px;height:18px;position:relative;top:3px;fill:#888"
				 viewBox="0 0 24 24">
				<use xlink:href="#settings-icon"></use>
			</svg>) in bottom right of the app.
		</p>
	</div>
	<div class="onboard-step">
		<div class="tac">
			<svg class="onboard-step__icon" style="stroke-width:0.2px;">
				<use xlink:href="#twitter-icon"></use>
			</svg>
		</div>
		<p>
			Follow <a href="https://twitter.com/intent/follow?screen_name=ZenUML" targe="_blank">@ZenUML</a> to know about the new upcoming
			features!
		</p>
	</div>

	<p class="tac">
		<button class="btn btn--primary" d-click="closeAllOverlays">Lets start!</button>
	</p>
