<a d-click="onModalCloseBtnClick" href="" aria-label="Close modal" title="Close" class="js-modal__close-btn  modal__close-btn">
    <svg>
        <use xlink:href="#cross-icon"></use>
    </svg>
</a>

<div class="tac">
    <h1>Support the Developer</h1>
    <p>Hi! Web Maker is a free and open-source project. To keep myself motivated for working on such open-source and free side projects, I am accepting donations. Your pledge, no matter how small, will act as an appreciation towards my work and keep me going forward, creating & maintaining more such useful projects. So please consider donating 🙏🏼  (could be as small as $1/month).
    </p>
    <div class="onboard-selection-wrap flex">
        <div class="onboard-selection" id="onboardDontShowInTabOptionBtn" d-click="onDontShowInTabClicked">
            <a href="https://patreon.com/kushagra" target="_blank" aria-label="Make a monthly pledge on Patreon">
                <img src="patreon.png" height="50" class="mb-1" alt="Become a patron image">
                <h3 class="onboard-selection-text">Make a monthly pledge on Patreon</h3>
            </a>
        </div>

        <div style="opacity:0.7;">OR</div>

        <div class="onboard-selection" id="onboardShowInTabOptionBtn" d-click="onShowInTabClicked">
            <a href="https://www.paypal.me/kushagragour" target="_blank" aria-label="Make a one time donation on Paypal">
                <img src="paypal-logo.png" height="50" class="mb-1" alt="Paypal logo">
                <h3 class="onboard-selection-text">Make a one time donation</h3>
            </a>
        </div>
    </div>
</div>